[defaults]
inventory   = ./ansible_inventory/hosts
host_key_checking = false
roles_path = ./ansible_roles
remote_user = berto
ansible_managed = Ansible managed: modified on %Y-%m-%d %H:%M:%S 
vault_password_file = /home/arlaporte/.ansible/vault/projects/home_lab_infrastructure_automation_vault_pass.txt

[privilege_escalation]
become = True
become_user = root
