---
- name: Configuring base RHEL kvm hosts
  hosts: kvm_hosts
  become: True
  roles:
    - role: host-setup-common
  vars:
    domain: acanorex.io
    rhsm_sys_release_version: 10
    rhsm_org_id: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          31313163666364356136356336346263343061336234316135666238396631323536373539326533
          6435636135343236666538343661316139353536346261330a396233616266363066613666363161
          37343164346338633939393631643334646362323235326633303037373032626435363733616562
          3461626161623535350a396237376633643733666266653435333065366264303761333234613962
          3962
    rhsm_activation_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62653633323035623235383165356131633765316161626331653465653462343737646463653132
          3561626439316161663331326666616163353933663064320a623631313334306134633330633661
          37653065343135323563303038663431623636316437643936623431303363643234356462393665
          3538386536343432330a363762613266313835396339643035333763663536313836633537616633
          30653866646537653331626537633639306137653964666335343930623535373066
    rhsm_repositories_enabled:
      - rhel-10-for-x86_64-baseos-rpms
      - rhel-10-for-x86_64-appstream-rpms
      - codeready-builder-for-rhel-10-x86_64-rpms
    rhel_pkgs_to_install:
      - NetworkManager
      - bind-utils
      - yum-utils
      - tmux
      - vim-enhanced
      - qemu-kvm
      - libvirt
      - virt-install 
      - guestfs-tools
      - NetworkManager
      - ipa-client
      - sysstat
  vars_files:
    - vars/vaulted/vaulted-vars.yml

- name: Configuring base RHEL IDM hosts
  hosts: idm_hosts
  become: True
  roles:
    - role: host-setup-common
  vars:
    domain: acanorex.io
    rhsm_sys_release_version: 9
    rhsm_repositories_enabled:
      - rhel-9-for-x86_64-baseos-rpms
      - rhel-9-for-x86_64-appstream-rpms
    reboot_after_updates: true
  vars_files:
    - vars/vaulted/vaulted-vars.yml

- name: Configuring base RHEL utility host
  hosts: utility_hosts
  become: True
  roles:
    - role: host-setup-common
  vars:
    domain: acanorex.io
    rhsm_sys_release_version: 9
    rhsm_repositories_enabled:
      - rhel-9-for-x86_64-baseos-rpms
      - rhel-9-for-x86_64-appstream-rpms
      - codeready-builder-for-rhel-9-x86_64-rpms
      - ansible-automation-platform-2.5-for-rhel-9-x86_64-rpms
    rhel_pkgs_to_install:
      - NetworkManager
      - bind-utils
      - yum-utils
      - tmux
      - vim-enhanced
      - git
    reboot_after_updates: false
  vars_files:
    - vars/vaulted/vaulted-vars.yml
